<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <section class="activity-activity">
        <aside class="activity-rectangle">
          <div class="activity-t-dashboard">
            <div class="activity-dashboard">Dashboard</div>
          </div>
          <div class="activity-t-alarm-clock-1tnotes-book-text-tavatar-style">
            <object
              data="/assets/AlarmClock.svg"
              class="activity-alarm-clock"
            ></object>
            <div class="activity-t-notes-book-text">
              <object
                data="/assets/NotesBookText.svg"
                class="activity-notes-book-text"
              ></object>
            </div>
            <button class="activity-t-avatar-style">
              <object
                data="/assets/AvatarStyle.svg"
                class="activity-avatar-style"
              ></object>
            </button>
          </div>
        </aside>
        <article class="activity-component">
          <div class="activity-today">Today</div>
          <div class="activity-ttt-bg-chart-7hrs">
            <div class="activity-tt-bg-chart-7hrs">
              <div class="activity-t-bg-chart-7hrs">
                <object
                  data="/assets/Chart.svg"
                  class="activity-bg-chart"
                ></object>
                <div class="activity-hrs">7 hrs</div>
              </div>
            </div>
          </div>
          <div class="activity-t-you-logged-in-for-7hrs-today">
            <div class="activity-you-logged-in-for-7hrs-today">
              You logged in for 7hrs today
            </div>
          </div>
          <div class="activity-last-updated-5mins-ago">
            Last updated 5mins ago
          </div>
        </article>
        <section class="activity-component-1">
          <div class="activity-ttt-label-ttarrow_drop_up">
            <div class="activity-tt-label-ttarrow_drop_up">
              <div class="activity-t-label">
                <div class="activity-label">Activity</div>
              </div>
              <div class="activity-tt-arrow_drop_up">
                <button class="activity-t-arrow_drop_up">
                  <object
                    data="/assets/Arrow_drop_up.svg"
                    class="activity-arrow_drop_up"
                  ></object>
                </button>
                <div class="activity-component-2">+2.45%</div>
              </div>
            </div>
          </div>
          <div class="activity-tt-cash-tlabel">
            <div class="activity-t-cash-tlabel">
              <div class="activity-cash">2.579</div>
              <div class="activity-t-label-1">
                <div class="activity-label-1">Log Hours</div>
              </div>
            </div>
          </div>
          <div class="activity-t-rectangle-18rectangle-18rectangle-18rectangle-18rectangle-18rectangle-18rectangle" >
            <div class="activity-wrapper">
              <div class="activity-rectangle-1"></div>
            </div>
            <div class="activity-wrapper-1">
              <div class="activity-rectangle-2"></div>
            </div>
            <div class="activity-wrapper-2">
              <div class="activity-rectangle-3"></div>
            </div>
            <div class="activity-wrapper-3">
              <div class="activity-rectangle-4"></div>
            </div>
            <div class="activity-wrapper-4">
              <div class="activity-rectangle-5"></div>
            </div>
            <div class="activity-wrapper-5">
              <div class="activity-rectangle-6"></div>
            </div>
            <div class="activity-wrapper-6">
              <div class="activity-rectangle-7"></div>
            </div>
          </div>
          <div class="activity-tttt-mon-tue-wed-thur-tfri-tsat-sun">
            <div class="activity-ttt-mon-tue-wed-thur-tfri-tsat-sun">
              <div class="activity-tt-mon-tue-wed-thur">
                <div class="activity-t-mon-tue-wed-thur">
                  <div>Mon</div>
                  <div>Tue</div>
                  <div>Wed</div>
                  <div>Thur</div>
                </div>
              </div>
              <div class="activity-t-fri-tsat-sun">
                <div>Fri</div>
                <div class="activity-sat">Sat</div>
                <div>Sun</div>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
  </body>
</html>

<!--
  This component was generated from Figma with FireJet. 
  Learn more at https://www.firejet.io
  
  README:
  The output code may look slightly different when copied to your codebase. To fix this:
  1. Include the necessary fonts. The required fonts are imported from index.html
  2. Include the global styles. They can be found in styles.css
  
  Note: Step 2 is not required for tailwind.css output
-->
