@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700");
@import url("https://api.fontshare.com/css?f[]=inter@400,700&display=swap");

p,
ol,
ul {
  margin: 0px;
}

button {
  padding: 0px;
}

ol,
ul {
  padding-inline-start: 1.5em;
}

input {
  background-image: none;
  background-color: transparent;
}

.common-1,
.forgot-password-forgot-password,
.forgot-password-t-frame {
  display: flex;
  flex-direction: column;
}

.common-2,
.forgot-password-t-forgot-password,
.forgot-password-t-recover-you-password-if-you-have-forgot-the-password {
  display: flex;
  align-items: flex-end;
}

.common-3,
.forgot-password-recover-you-password-if-you-have-forgot-the-password,
.forgot-password-email,
.forgot-password-frame,
.forgot-password-frame-1 {
  display: flex;
  align-items: center;
}

.forgot-password-forgot-password {
  background-color: white;
  row-gap: 6px;
  padding-bottom: 459px;
  padding-left: 35px;
  padding-right: 36px;
  padding-top: 57px;
  width: 100%;
  font-family: Inter, ui-sans-serif, system-ui, sans-serif;
  letter-spacing: -0.01em;
}

.forgot-password-group {
  width: 38px;
  height: 38px;
  flex-shrink: 0;
}

.forgot-password-t-forgot-password {
  padding-top: 30px;
}

.forgot-password-forgot-password-1 {
  font-size: 32px;
  color: mediumslateblue;
  line-height: 24px;
  font-weight: 700;
}

.forgot-password-t-recover-you-password-if-you-have-forgot-the-password {
  padding-right: 57px;
  padding-top: 13px;
}

.forgot-password-recover-you-password-if-you-have-forgot-the-password {
  flex-grow: 1;
  line-height: normal;
}

.forgot-password-t-email {
  padding-top: 49px;
}

.forgot-password-email {
  line-height: 24px;
}

.forgot-password-frame {
  border-style: solid;
  border-color: mediumslateblue;
  border-top-width: 1.5px;
  border-bottom-width: 1.5px;
  border-left-width: 1.5px;
  border-right-width: 1.5px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  padding-bottom: 15px;
  padding-left: 19px;
  padding-right: 119px;
  padding-top: 15px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  flex-wrap: wrap;
}

.forgot-password-vector {
  width: 19px;
  height: 19px;
  flex-shrink: 0;
}

.forgot-password-ex-abc-example-com {
  display: flex;
  color: silver;
  line-height: 24px;
  font-style: italic;
  outline: none;
  flex-grow: 1;
  min-width: 0px;
}

.forgot-password-t-frame {
  padding-top: 22px;
  justify-content: flex-end;
}

.forgot-password-frame-1 {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: mediumslateblue;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  justify-content: center;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.forgot-password-submit {
  text-align: center;
  color: white;
  line-height: 24px;
  font-weight: 700;
}

.forgot-password-frame:focus-within {
  box-shadow: 0 0 4px #1e40af;
}

.forgot-password-ex-abc-example-com::placeholder {
  font-style: italic;
  color: #c8c8c8;
}
@media (min-width: 404px) {
  .forgot-password-frame {
    flex-wrap: nowrap;
  }
}
