<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@500"
    />
    <title>HTML Preview</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="compiled-styles.css" />
  </head>
  <body style="margin: 0px">
    <!-- This only removes default margins in our renderer iframe, you may remove -->
    <div id="firejet-html-app">
      <main class="calender-calender">
        <header class="calender-t-calender-buttons">
          <div class="calender-calender-1">Calender</div>
          <button class="calender-buttons">
            <object
              data="/assets/X.svg"
              class="calender-x"
            ></object>
          </button>
        </header>
        <div class="calender-wrapper">
          <section class="calender-action-sheet">
            <div class="calender-t-block">
              <div class="calender-block"></div>
            </div>
            <div class="calender-ttt-february-2021tchevron-left-chevron-right">
              <div class="calender-tt-february-2021tchevron-left-chevron-right">
                <div class="calender-t-february">
                  <div class="calender-february">February</div>
                  <div class="calender-component">2021</div>
                </div>
                <div class="calender-t-chevron-left-chevron-right">
                  <object
                    data="/assets/ChevronLeft.svg"
                    class="calender-chevron-left"
                  ></object
                  ><object
                    data="/assets/ChevronRight.svg"
                    class="calender-chevron-right"
                  ></object>
                </div>
              </div>
            </div>
            <div class="calender-t-day-day-day-day-day-day-day">
              <div class="calender-day">SUN</div>
              <div class="calender-day-1">MON</div>
              <div class="calender-day-2">TUE</div>
              <div class="calender-day-3">WED</div>
              <div class="calender-day-4">THU</div>
              <div class="calender-day-5">FRI</div>
              <div class="calender-day-6">SAT</div>
            </div>
            <div class="calender-t-day-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-day" >
              <div class="calender-day-7">31</div>
              <div class="calender-t-day-ttdot-dot-dot">
                <div class="calender-day-8">1</div>
                <div class="calender-t-dot-dot-dot">
                  <object
                    data="/assets/Dot.svg"
                    class="calender-dot"
                  ></object
                  ><object
                    data="/assets/Dot1.svg"
                    class="calender-dot-1"
                  ></object
                  ><object
                    data="/assets/Dot2.svg"
                    class="calender-dot-2"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-dot-1">
                <div class="calender-day-9">2</div>
                <div class="calender-t-dot-dot-dot-1">
                  <object
                    data="/assets/Dot3.svg"
                    class="calender-dot-3"
                  ></object
                  ><object
                    data="/assets/Dot4.svg"
                    class="calender-dot-4"
                  ></object
                  ><object
                    data="/assets/Dot5.svg"
                    class="calender-dot-5"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-dot-2">
                <div class="calender-day-10">3</div>
                <div class="calender-t-dot-dot-dot-2">
                  <object
                    data="/assets/Dot6.svg"
                    class="calender-dot-6"
                  ></object
                  ><object
                    data="/assets/Dot7.svg"
                    class="calender-dot-7"
                  ></object
                  ><object
                    data="/assets/Dot8.svg"
                    class="calender-dot-8"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-dot-3">
                <div class="calender-day-11">4</div>
                <div class="calender-t-dot-dot-dot-3">
                  <object
                    data="/assets/Dot9.svg"
                    class="calender-dot-9"
                  ></object
                  ><object
                    data="/assets/Dot10.svg"
                    class="calender-dot-10"
                  ></object
                  ><object
                    data="/assets/Dot11.svg"
                    class="calender-dot-11"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-dot-4">
                <div class="calender-day-12">5</div>
                <div class="calender-t-dot-dot-dot-4">
                  <object
                    data="/assets/Dot12.svg"
                    class="calender-dot-12"
                  ></object
                  ><object
                    data="/assets/Dot13.svg"
                    class="calender-dot-13"
                  ></object
                  ><object
                    data="/assets/Dot14.svg"
                    class="calender-dot-14"
                  ></object>
                </div>
              </div>
              <div class="calender-day-13">6</div>
            </div>
            <div class="calender-t-button-groups">
              <div class="calender-button-groups">
                <div class="calender-tt-day-tday-ttdot-dot-tday-tday-ttdot-dot-dot-tday-tdot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-ttday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-tdot-ttday-ttdot-dot-dot-tday-ttdot-dot-dot-ttday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-tday-tframe" >
                  <div class="calender-t-day-tday-ttdot-dot-tday">
                    <div class="calender-day-14">7</div>
                    <div class="calender-t-day">
                      <div class="calender-day-15">14</div>
                    </div>
                    <div class="calender-t-dot-dot">
                      <object
                        data="/assets/Dot15.svg"
                        class="calender-dot-15"
                      ></object
                      ><object
                        data="/assets/Dot16.svg"
                        class="calender-dot-16"
                      ></object>
                    </div>
                    <div class="calender-t-day-1">
                      <div class="calender-day-16">21</div>
                    </div>
                  </div>
                  <div class="calender-t-day-ttdot-dot-dot-tday-tdot-tday-ttdot-dot-dot" >
                    <div class="calender-day-17">8</div>
                    <div class="calender-t-dot-dot-dot-5">
                      <object
                        data="/assets/Dot.svg"
                        class="calender-dot-17"
                      ></object
                      ><object
                        data="/assets/Dot1.svg"
                        class="calender-dot-18"
                      ></object
                      ><object
                        data="/assets/Dot2.svg"
                        class="calender-dot-19"
                      ></object>
                    </div>
                    <div class="calender-t-day-2">
                      <div class="calender-day-18">15</div>
                    </div>
                    <div class="calender-t-dot">
                      <object
                        data="/assets/Dot1.svg"
                        class="calender-dot-20"
                      ></object>
                    </div>
                    <div class="calender-t-day-3">
                      <div class="calender-day-19">22</div>
                    </div>
                    <div class="calender-t-dot-dot-dot-6">
                      <object
                        data="/assets/Dot.svg"
                        class="calender-dot-21"
                      ></object
                      ><object
                        data="/assets/Dot1.svg"
                        class="calender-dot-22"
                      ></object
                      ><object
                        data="/assets/Dot2.svg"
                        class="calender-dot-23"
                      ></object>
                    </div>
                  </div>
                  <div class="calender-t-day-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot" >
                    <div class="calender-day-20">9</div>
                    <div class="calender-t-dot-dot-dot-7">
                      <object
                        data="/assets/Dot3.svg"
                        class="calender-dot-24"
                      ></object
                      ><object
                        data="/assets/Dot4.svg"
                        class="calender-dot-25"
                      ></object
                      ><object
                        data="/assets/Dot5.svg"
                        class="calender-dot-26"
                      ></object>
                    </div>
                    <div class="calender-t-day-4">
                      <div class="calender-day-21">16</div>
                    </div>
                    <div class="calender-t-dot-dot-dot-8">
                      <object
                        data="/assets/Dot3.svg"
                        class="calender-dot-27"
                      ></object
                      ><object
                        data="/assets/Dot4.svg"
                        class="calender-dot-28"
                      ></object
                      ><object
                        data="/assets/Dot5.svg"
                        class="calender-dot-29"
                      ></object>
                    </div>
                    <div class="calender-t-day-5">
                      <div class="calender-day-22">23</div>
                    </div>
                    <div class="calender-t-dot-dot-1">
                      <object
                        data="/assets/Dot3.svg"
                        class="calender-dot-30"
                      ></object
                      ><object
                        data="/assets/Dot5.svg"
                        class="calender-dot-31"
                      ></object>
                    </div>
                  </div>
                  <div class="calender-tt-day-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot" >
                    <div class="calender-t-day-ttdot-dot-dot-5">
                      <div class="calender-day-23">10</div>
                      <div class="calender-t-dot-dot-dot-9">
                        <object
                          data="/assets/Dot6.svg"
                          class="calender-dot-32"
                        ></object
                        ><object
                          data="/assets/Dot7.svg"
                          class="calender-dot-33"
                        ></object
                        ><object
                          data="/assets/Dot8.svg"
                          class="calender-dot-34"
                        ></object>
                      </div>
                    </div>
                    <div class="calender-t-day-ttdot-dot-dot-6">
                      <div class="calender-day-24">17</div>
                      <div class="calender-t-dot-dot-dot-10">
                        <object
                          data="/assets/Dot6.svg"
                          class="calender-dot-35"
                        ></object
                        ><object
                          data="/assets/Dot7.svg"
                          class="calender-dot-36"
                        ></object
                        ><object
                          data="/assets/Dot8.svg"
                          class="calender-dot-37"
                        ></object>
                      </div>
                    </div>
                    <div class="calender-t-day-ttdot-dot-dot-7">
                      <div class="calender-day-25">24</div>
                      <div class="calender-t-dot-dot-dot-11">
                        <object
                          data="/assets/Dot6.svg"
                          class="calender-dot-38"
                        ></object
                        ><object
                          data="/assets/Dot7.svg"
                          class="calender-dot-39"
                        ></object
                        ><object
                          data="/assets/Dot8.svg"
                          class="calender-dot-40"
                        ></object>
                      </div>
                    </div>
                  </div>
                  <div class="calender-t-day-tdot-ttday-ttdot-dot-dot-tday-ttdot-dot-dot" >
                    <div class="calender-day-26">11</div>
                    <div class="calender-t-dot-1">
                      <object
                        data="/assets/Dot11.svg"
                        class="calender-dot-41"
                      ></object>
                    </div>
                    <div class="calender-tt-day-ttdot-dot-dot-tday-ttdot-dot-dot" >
                      <div class="calender-t-day-ttdot-dot-dot-8">
                        <div class="calender-day-27">18</div>
                        <div class="calender-t-dot-dot-dot-12">
                          <object
                            data="/assets/Dot9.svg"
                            class="calender-dot-42"
                          ></object
                          ><object
                            data="/assets/Dot10.svg"
                            class="calender-dot-43"
                          ></object
                          ><object
                            data="/assets/Dot11.svg"
                            class="calender-dot-44"
                          ></object>
                        </div>
                      </div>
                      <div class="calender-t-day-ttdot-dot-dot-9">
                        <div class="calender-day-28">25</div>
                        <div class="calender-t-dot-dot-dot-13">
                          <object
                            data="/assets/Dot9.svg"
                            class="calender-dot-45"
                          ></object
                          ><object
                            data="/assets/Dot10.svg"
                            class="calender-dot-46"
                          ></object
                          ><object
                            data="/assets/Dot11.svg"
                            class="calender-dot-47"
                          ></object>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="calender-tt-day-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-1" >
                    <div class="calender-t-day-ttdot-dot-dot-10">
                      <div class="calender-day-29">12</div>
                      <div class="calender-t-dot-dot-dot-14">
                        <object
                          data="/assets/Dot12.svg"
                          class="calender-dot-48"
                        ></object
                        ><object
                          data="/assets/Dot13.svg"
                          class="calender-dot-49"
                        ></object
                        ><object
                          data="/assets/Dot14.svg"
                          class="calender-dot-50"
                        ></object>
                      </div>
                    </div>
                    <div class="calender-t-day-ttdot-dot-dot-11">
                      <div class="calender-day-30">19</div>
                      <div class="calender-t-dot-dot-dot-15">
                        <object
                          data="/assets/Dot12.svg"
                          class="calender-dot-51"
                        ></object
                        ><object
                          data="/assets/Dot13.svg"
                          class="calender-dot-52"
                        ></object
                        ><object
                          data="/assets/Dot14.svg"
                          class="calender-dot-53"
                        ></object>
                      </div>
                    </div>
                    <div class="calender-t-day-ttdot-dot-dot-12">
                      <div class="calender-day-31">26</div>
                      <div class="calender-t-dot-dot-dot-16">
                        <object
                          data="/assets/Dot12.svg"
                          class="calender-dot-54"
                        ></object
                        ><object
                          data="/assets/Dot13.svg"
                          class="calender-dot-55"
                        ></object
                        ><object
                          data="/assets/Dot14.svg"
                          class="calender-dot-56"
                        ></object>
                      </div>
                    </div>
                  </div>
                  <div class="calender-t-day-tday-tframe">
                    <div class="calender-day-32">13</div>
                    <div class="calender-t-day-6">
                      <div class="calender-day-33">20</div>
                    </div>
                    <div class="calender-t-frame">
                      <div class="calender-frame">
                        <div class="calender-day-34">27</div>
                        <object
                          data="/assets/Dot17.svg"
                          class="calender-dot-57"
                        ></object>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="calender-tt-day-tday-tday-tday-tday-tday-tday">
                  <div class="calender-t-day-7">
                    <div class="calender-day-35">28</div>
                  </div>
                  <div class="calender-t-day-8">
                    <div class="calender-day-36">1</div>
                  </div>
                  <div class="calender-t-day-9">
                    <div class="calender-day-37">2</div>
                  </div>
                  <div class="calender-t-day-10">
                    <div class="calender-day-38">3</div>
                  </div>
                  <div class="calender-t-day-11">
                    <div class="calender-day-39">4</div>
                  </div>
                  <div class="calender-t-day-12">
                    <div class="calender-day-40">5</div>
                  </div>
                  <div class="calender-t-day-13">
                    <div class="calender-day-41">6</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="calender-ttt-dot-tdot-dot-tdot-tdot-dot-dot-dot-tdot-dot" >
              <div class="calender-t-dot-tdot-dot-tdot-tdot-dot-dot-dot-tdot-dot" >
                <object
                  data="/assets/Dot18.svg"
                  class="calender-dot-58"
                ></object>
                <div class="calender-t-dot-dot-2">
                  <object
                    data="/assets/Dot1.svg"
                    class="calender-dot-59"
                  ></object
                  ><object
                    data="/assets/Dot19.svg"
                    class="calender-dot-60"
                  ></object>
                </div>
                <div class="calender-t-dot-2">
                  <object
                    data="/assets/Dot4.svg"
                    class="calender-dot-61"
                  ></object>
                </div>
                <div class="calender-t-dot-dot-dot-17">
                  <object
                    data="/assets/Dot6.svg"
                    class="calender-dot-62"
                  ></object
                  ><object
                    data="/assets/Dot7.svg"
                    class="calender-dot-63"
                  ></object
                  ><object
                    data="/assets/Dot8.svg"
                    class="calender-dot-64"
                  ></object>
                </div>
                <object
                  data="/assets/Dot11.svg"
                  class="calender-dot-65"
                ></object>
                <div class="calender-t-dot-dot-3">
                  <object
                    data="/assets/Dot12.svg"
                    class="calender-dot-66"
                  ></object
                  ><object
                    data="/assets/Dot14.svg"
                    class="calender-dot-67"
                  ></object>
                </div>
              </div>
            </div>
            <div class="calender-t-day-tday-ttdot-dot-dot-tday-ttdot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-dot-tday-ttdot-dot-day" >
              <div class="calender-day-42">7</div>
              <div class="calender-t-day-ttdot-dot-dot-13">
                <div class="calender-day-43">8</div>
                <div class="calender-t-dot-dot-dot-18">
                  <object
                    data="/assets/Dot.svg"
                    class="calender-dot-68"
                  ></object
                  ><object
                    data="/assets/Dot1.svg"
                    class="calender-dot-69"
                  ></object
                  ><object
                    data="/assets/Dot2.svg"
                    class="calender-dot-70"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot">
                <div class="calender-day-44">9</div>
                <div class="calender-t-dot-dot-4">
                  <object
                    data="/assets/Dot3.svg"
                    class="calender-dot-71"
                  ></object
                  ><object
                    data="/assets/Dot5.svg"
                    class="calender-dot-72"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-dot-14">
                <div class="calender-day-45">10</div>
                <div class="calender-t-dot-dot-dot-19">
                  <object
                    data="/assets/Dot6.svg"
                    class="calender-dot-73"
                  ></object
                  ><object
                    data="/assets/Dot7.svg"
                    class="calender-dot-74"
                  ></object
                  ><object
                    data="/assets/Dot8.svg"
                    class="calender-dot-75"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-dot-15">
                <div class="calender-day-46">11</div>
                <div class="calender-t-dot-dot-dot-20">
                  <object
                    data="/assets/Dot9.svg"
                    class="calender-dot-76"
                  ></object
                  ><object
                    data="/assets/Dot10.svg"
                    class="calender-dot-77"
                  ></object
                  ><object
                    data="/assets/Dot11.svg"
                    class="calender-dot-78"
                  ></object>
                </div>
              </div>
              <div class="calender-t-day-ttdot-dot-1">
                <div class="calender-day-47">12</div>
                <div class="calender-t-dot-dot-5">
                  <object
                    data="/assets/Dot12.svg"
                    class="calender-dot-79"
                  ></object
                  ><object
                    data="/assets/Dot13.svg"
                    class="calender-dot-80"
                  ></object>
                </div>
              </div>
              <div class="calender-day-48">13</div>
            </div>
          </section>
        </div>
        <div class="calender-t-toasts-multi-line">
          <footer class="calender-toasts-multi-line">
            <div class="calender-ttt-hint-the-dots-below-each-date-represent-your-login-activity-for-that-day-xcircle" >
              <div class="calender-tt-hint-the-dots-below-each-date-represent-your-login-activity-for-that-day-xcircle" >
                <div class="calender-t-hint-the-dots-below-each-date-represent-your-login-activity-for-that-day" >
                  <label class="calender-hint">Hint</label>
                  <div class="calender-the-dots-below-each-date-represent-your-login-activity-for-that-day" >
                    <p>
                      The Dots below each date represent your login activity for
                      that day.
                    </p>
                  </div>
                </div>
                <object
                  data="/assets/XCircle.svg"
                  class="calender-x-circle"
                ></object>
              </div>
            </div>
          </footer>
        </div>
      </main>
    </div>
  </body>
</html>

<!--
  This component was generated from Figma with FireJet. 
  Learn more at https://www.firejet.io
  
  README:
  The output code may look slightly different when copied to your codebase. To fix this:
  1. Include the necessary fonts. The required fonts are imported from index.html
  2. Include the global styles. They can be found in styles.css
  
  Note: Step 2 is not required for tailwind.css output
-->
